.container {
  max-width: 750px;
}

.banner {
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
}

.failed-bg {
  color: white;
  background-color: #E25D6A;
}

.success-bg {
  color: white;
  background-color: #52B86A;
}

.service {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.service-success {
  color: #52B86A;
}